---
import Search from "@/components/article/ArticleSearch";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
---

<BaseLayout title="Linaro | Blogs" description="A list of blogs">
  <main class="container mx-auto px-8">
    <Search client:only="solid-js" type="blog" tags={tags} />
  </main>
</BaseLayout>
