---
const { MemberManagementPanel, styles } = Astro.props;

console.log("MemberManagementPanel", MemberManagementPanel);
---

<ul
  class:list={[
    "list-none flex lg:flex-row flex-col p-0 mx-auto ",
    styles?.container,
  ]}
  style={{ gap: "1px" }}
>
  {
    MemberManagementPanel.map(
      (
        {
          title,
          description,
          name,
          title_style,
        }: {
          title: string;
          description: string;
          name: string;
          title_style: string;
        },
        index: number
      ) => (
        <li class:list={[styles?.card, "w-full lg:w-1/3", "relative"]}>
          <p class:list={["text-base my-0", title_style]}>{title}</p>
          <p class="text-base my-0 linaro-gradient-text">{name}</p>
          <p class="text-xs">{description}</p>
          {index < MemberManagementPanel.length - 1 && (
            <div class="hidden lg:block absolute top-0 bottom-0 right-0 w-[1px] bg-gray-300" />
          )}
        </li>
      )
    )
  }
</ul>
