@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "sofia-pro", sans-serif;
    @apply bg-background text-white;
  }
}

@layer utilities {
  .nav-hover {
    :before {
      @apply w-0 lg:bg-linaro-yellow content-[""] bottom-0 h-1 block absolute left-[50%] duration-150;
    }
    :before:hover {
      @apply w-full left-0;
    }
  }

  .nav-active {
    @apply linaro-gradient-text;
  }

  .nav-inactive {
    @apply text-white;
  }

  // gradient text 
  .linaro-gradient-text {
    @apply bg-linaro-gradient bg-clip-text text-transparent;
  }

  // gradient button
  .linaro-gradient-button {
    @apply  px-6 py-2 bg-linaro-gradient text-white rounded-full relative overflow-hidden;

  }

  .linaro-gradient-button::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, 0.3),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -150px;
    transition: none
    
  }
  .linaro-gradient-button:hover::before {
    left: 100%;
    transition: all 0.65s ease-out

  }

  // gradient-border
  .linaro-gradient-border {
    position: relative;
    background-clip: padding-box; 
  }


  .linaro-gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    box-sizing: border-box;
    @apply bg-linaro-gradient;
  }

  // fading section divider
  .fade-border {
    @apply w-full bg-border-gradient h-[2px];
  }

  .fade-border-bottom::after {
    content: "";
    display: inline-block;

    @apply absolute fade-border bottom-0;
  }

  .purple-gradient-container {
    @apply bg-purple-gradient py-24  pb-[12rem] mb-[-12rem];
  }
}
