---
import type { z } from "astro/zod";
import BlogListing from "../article/blog/BlogListing.astro";
import type { articlesSchema } from "@/content/schemas/sections";
import { getEntries } from "astro:content";
import { getCollection } from "astro:content";

type Props = z.infer<typeof articlesSchema>;

const { title } = Astro.props as Props;

const entries = await getCollection("blogs");

const isPreview = String(import.meta.env.IS_PREVIEW) === "true";

const latestBlogs = entries
  .filter((post) => {
    if (post.collection !== "blogs") return false;

    if (isPreview) return true;

    return Date.now() > new Date(post.data.date).getTime();
  })
  .sort((a, b) => {
    return new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf();
  })
  .slice(0, 4);
---

<div
  class="container mx-auto max-w-4xl 2xl:max-w-full px-8 xl:px-0 mb-24 not-prose"
  data-pagefind-ignore
>
  {
    title && (
      <h2 class="text-5xl text-linaro-yellow font-bold mb-16">Related Posts</h2>
    )
  }
  <ul class="flex flex-wrap gap-8 justify-center">
    {latestBlogs?.map((post) => <BlogListing {...post} />)}
  </ul>
</div>
