---
import type { buttonsSchema } from "@/content/schemas/sections";
import type { z } from "astro/zod";

type Props = z.infer<typeof buttonsSchema>;
const { buttons, style } = Astro.props;
---

<ul class:list={[style, "flex justify-center list-none p-0"]}>
  {
    buttons.map(({ text, url, style }) => (
      <li>
        <a
          href={url}
          target={url.startsWith("https") ? "_blank" : "_self"}
          class="no-underline inline-block"
        >
          <div class:list={[style]}>{text}</div>
        </a>
      </li>
    ))
  }
</ul>
