---
import type { z } from "astro/zod";
import ContactForm from "../forms/ContactForm.astro";
import * as marked from "marked";
import type { contactSchema } from "@/content/schemas/sections";

type Props = z.infer<typeof contactSchema>;

const { content, styles, form_id, description } = Astro.props;

let markdownContent;
if (content) {
  markdownContent = await marked.parse(content);
}
---

<div class:list={["items-center gap-12", styles?.card]}>
  <article set:html={markdownContent} class:list={["text-white", styles]} />
  <ContactForm form_id={form_id} description={description} />
</div>
