---
import type { largeImageSchema } from "@/content/schemas/sections";
import type { z } from "astro/zod";
import CloudinaryImg from "../cloudinary/CloudinaryImg.astro";

type Props = z.infer<typeof largeImageSchema>;
const { src, alt, style } = Astro.props;

let width = 4000;
let height = 1000;
---

<div class:list={[style, "relative w-[110vw] overflow-x-hidden"]}>
  <CloudinaryImg
    src={src}
    alt={alt}
    width={width}
    height={height}
    class="absolute inset-0 left-1/2 transform -translate-x-1/2 w-[110vw] object-cover"
  />
</div>
