---
import CloudinaryImg from "../cloudinary/CloudinaryImg.astro";
import SocialIcons from "../common/SocialIcons.astro";

---
<section class="flex flex-col items-center w-full">
    <SocialIcons size={20} outline={true} color="white" styles="gap-12 justify-center"/>
    <CloudinaryImg src="linaro-website/graphics/socials" alt="iPhones displaying Linaro social sites" width={1000} height={1000} />
</section>