---
import type { statGridSchema } from "@/content/schemas/sections";
import type { z } from "astro/zod";

type Props = z.infer<typeof statGridSchema>;

const { stats } = Astro.props;
---

<ul
  class="text-white list-none grid grid-cols-1 sm:grid-cols-2 max-w-lg mx-auto p-0 justify-center items-center sm:items-start mb-16 pl-12"
>
  {
    stats.map(({ value, label }) => (
      <li class="flex flex-col max-w-[20ch] mx-0">
        <span class="linaro-gradient-text text-7xl font-bold">{value}</span>
        <span class="text-lg">{label}</span>
      </li>
    ))
  }
</ul>
