---
import type { threeColumnSchema } from "@/content/schemas/sections";
import CloudinaryImg from "@/components/cloudinary/CloudinaryImg.astro";
import type { z } from "astro/zod";
type Props = z.infer<typeof threeColumnSchema>;
const { cards, styles, background_image } = Astro.props;
---

<div class="relative">
  <ul
    class:list={[
      "list-none flex flex-col lg:flex-row mx-auto p-0 justify-center items-center z-1",
      styles?.container,
    ]}
  >
    {
      cards.map(({ text, style }, index) => (
        <li class:list={["relative", styles?.card]}>
          {background_image && index === 1 && (
            <CloudinaryImg
              src={background_image}
              class="absolute h-[250%] w-auto top-[-100%] left-0 right-0  z-[-1] opacity-[50%]"
              alt=""
              width={1000}
              height={1000}
            />
          )}
          <p class={` ${style ? style : "text-lg"}`}>{text}</p>
        </li>
      ))
    }
  </ul>
</div>
