---
import type { videosSchema } from "@/content/schemas/sections";
import type { z } from "astro/zod";

type Props = z.infer<typeof videosSchema>;
const { videos, styles } = Astro.props;
---

<ul
  class:list={[
    "flex flex-wrap justify-center not-prose gap-12  px-4 py-12 rounded-2xl",
    styles?.container,
  ]}
>
  {
    videos.map((video) => (
      <li class:list={[styles?.card]}>
        <video
          src={video.src}
          poster={video.thumbnail}
          onmouseover="this.setAttribute('controls','controls')"
          onmouseout="this.removeAttribute('controls')"
        />
        <p class="text-2xl mt-4">{video.title}</p>
      </li>
    ))
  }
</ul>
