---
import SiteSearch from "@/components/search/SiteSearch";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCloudinarySrc } from "@/lib/cloudinary";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
const optimizedBackground = await getImage({
  src: getCloudinarySrc({
    src: "linaro-website/graphics/bg-logo-3",
    alt: "",
    width: 1724.55,
    height: 1182.9,
  }),
  format: "webp",
  inferSize: true,
});
---

<BaseLayout title="Blog" description="A list of blogs">
  <div class="purple-gradient-container absolute h-200 w-full z-[-1] top-120">
  </div>
  <main
    class="hero-banner-layout hero-background-image container mx-auto px-2 sm:px-4 md:px-8 z-0"
  >
    <h1 class="text-5xl my-12 font-bold">Search</h1>
    <SiteSearch client:only="solid-js" tags={tags} />
  </main>
</BaseLayout>
<style define:vars={{ backgroundUrl: `url(${optimizedBackground.src})` }}>
  .hero-background-image {
    background-image: var(--backgroundUrl);
  }
</style>
