---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
---

<BaseLayout title="Linaro | Blogs" description="A list of blogs">
  <main class="container mx-auto px-8"></main>
</BaseLayout>
