---
import BlogSearch from "@/components/article/blog/BlogSearch";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCloudinarySrc } from "@/lib/cloudinary";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
const optimizedBackground = await getImage({
  src: getCloudinarySrc({
    src: "linaro-website/graphics/purple-map",
    alt: "",
    width: 1724.55,
    height: 1182.9,
  }),
  format: "webp",
  inferSize: true,
});
---

<BaseLayout title="Newsroom" description="A list of blogs">
  <div
    class="purple-gradient-container absolute h-[50rem] w-full z-[-1] top-[30rem]"
  >
  </div>
  <main
    class="hero-background-image container mx-auto px-2 sm:px-4 md:px-8 z-0"
  >
    <h1 class="text-5xl my-12 font-bold">Newsroom</h1>
    <BlogSearch client:only="solid-js" tags={tags} type="news" />
  </main>
</BaseLayout>
<style
  define:vars={{ backgroundUrl: `url(${optimizedBackground.src})` }}
  lang="scss"
>
  .hero-background-image {
    background-image: var(--backgroundUrl);
    background-repeat: no-repeat;
    @apply bg-[top_right] xl:bg-[top_-1rem_right] bg-[size:100%] lg:bg-[size:50%];
  }
</style>
