---
import { Icon } from "astro-icon/components";
import NavSearch from "./NavSearch";

const { id } = Astro.props;
---

<style lang="scss">
  dialog {
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.4);
    }
  }
</style>

<button
  id="modal-open-button"
  class="ml-auto mr-4 float-right"
  onclick={`window.${id}.showModal()`}><Icon name="search" size={20} /></button
>
<div class="relative">
  <dialog id="modal-dialog" class="bg-transparent rounded-xl">
    <div
      class="relative bg-background max-w-full w-[60rem] text-white p-4 rounded-xl"
    >
      <NavSearch client:only="solid-js" />
    </div>
  </dialog>
</div>

<script>
  const dialog = document.getElementById("modal-dialog") as HTMLDialogElement;
  const openButton = document.getElementById("modal-open-button");
  const closeButton = document.getElementById("modal-close-button");

  openButton?.addEventListener("click", () => {
    dialog?.showModal();
    console.log("show modal");
  });
  closeButton?.addEventListener("click", () => {
    dialog?.close();
    console.log("close modal");
  });

  dialog.addEventListener("click", function (event) {
    const rect = dialog.getBoundingClientRect();
    const isInDialog =
      rect.top <= event.clientY &&
      event.clientY <= rect.top + rect.height &&
      rect.left <= event.clientX &&
      event.clientX <= rect.left + rect.width;
    if (!isInDialog) {
      dialog.close();
    }
  });
</script>
