---
import BaseHead from "@/components/head/BaseHead.astro";
import NavBar from "@/components/nav/NavBar.astro";
import Footer from "@/components/footer/Footer.astro";

interface Props {
  title: string;
  description: string;
  type?: string;
}

const { title, description, type = "website" } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} type={type} />
  <body class="min-h-screen flex flex-col text-white">
    <NavBar />
    <slot />
    <Footer />
    <script>
      const animatedElements = document.querySelectorAll("[data-animate]");

      const observer = new IntersectionObserver(
        (entries, observer) => {
          entries.forEach((entry) => {
            if (!(entry.target instanceof HTMLElement)) return;
            const animatedClass = entry.target.dataset["animate"] as string;
            console.log(entry);
            if (entry.isIntersecting) {
              entry.target.classList.add(animatedClass);
              entry.target.classList.remove("invisible");
              observer.unobserve(entry.target);
            } else {
              entry.target.classList.remove(animatedClass);
            }
          });
        },
        {
          rootMargin: "-300px 0px -300px 0px",
        }
      );

      animatedElements.forEach((el) => {
        observer.observe(el);
      });
    </script>
  </body>
</html>
