name: ClosePullRequestAction

on:
  pull_request_target:
    types: [closed]
    branches: [main]

jobs:
  close:
    runs-on: self-hosted
    steps:
      - name: Fetch git repository
        uses: actions/checkout@v4.3.1

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Remove SST Stage
        run: |
          export AWS_STATIC_SITE_URL=${{ vars.AWS_STATIC_SITE_URL }}
          PR_NUMBER=$(jq -r ".pull_request.number" $GITHUB_EVENT_PATH)
          echo "Cleaning up after $PR_NUMBER has closed"
          BUILDDIR="/srv/websitepreview/$AWS_STATIC_SITE_URL-$PR_NUMBER"
          if [ -d "$BUILDDIR" ]; then
              echo "Removing website review directory"
              rm -rf "$BUILDDIR"
          else
              echo "No website review directory ($BUILDDIR) to remove"
          fi
